.gallery_section {
  padding: 130px 0;
  background-color: #f4f4f4;
  margin-bottom: 341px;
}
.gallery_content {
  max-width: 491px;
  position: relative;
}
.gallery_subtitle {
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
  margin-bottom: 25px;
}
.gallery_title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #242424;
  margin-bottom: 24px;
}
.gallery_text {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #aaaaaa;
  margin-bottom: 24px;
}
.gallery_btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  border: none;
  color: #242424;
  border: 1px solid #bb2339;
  border-radius: 100px;
  padding: 8px 32px;
  background-color: inherit;
}
.gallery {
  max-width: 301px;
  position: absolute;
  left: 639px;
  bottom: -113px;
}
