.menu_nav {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #b0b0b0;
  margin-bottom: 70px;
}
.menu_content {
  display: flex;
}
.menu_category {
  max-width: 428px;
  max-height: 941px;
  background-color: #bb2339;
  border-radius: 20px;
  padding: 50px 40px;
  margin-right: 40px;
}
.menu_category_title {
  font-weight: 500;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
  margin-bottom: 40px;
}
.menu_category_item {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 10px 30px;
}
.menu_category_item:not(:last-child) {
  margin-bottom: 20px;
}
.menu_food_list {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 30px;
}
