.footer {
  background: #bb2339;
}

.footer_cards {
  padding-bottom: 40px;
}

.footer_newsletter {
  background: #bb2339;
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  border-radius: 20px;
  padding-top: 64px;
  padding-bottom: 64px;
  transform: translateY(-170px);
}

.footer_letter {
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  color: #ffffff;
}

.footer_letter_title {
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  margin-top: 25px;
  text-align: center;
  color: #ffffff;
}

.footer_letter_copy {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 175%;
  margin-top: 25px;
  text-align: center;
  color: #ffffff;
}

.footer_form {
  margin-top: 64px;
  text-align: center;
}

.form_input {
  padding: 12px 504px 12px 18px;
  border: none;
  border: 1px solid rgba(245, 239, 219, 0.5);
  border-radius: 100px;
  background-color: inherit;
  max-width: 635px;
  color: #ffffff;
}
.form_input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #aaaaaa;
}
.form_input_btn {
  width: 144px;
  height: 52px;
  margin-left: 30px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  color: #ffffff;
  background: none;
}

.footer_next {
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
}

.footer_next_box {
  width: 420px;
  text-align: center;
}

.footer_next_title {
  font-size: 32px;
  line-height: 130%;
  color: #ffffff;
  margin-top: 20px;
}

.footer_next_copy {
  margin-top: 24px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.footer_link_a {
  margin-top: 10px;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.footer_link {
  margin-top: 20px;
}

.img:nth-child(1) {
  margin-left: 0;
}

.img:nth-child(2) {
  margin-left: 20px;
}

.img:nth-child(3) {
  margin-left: 20px;
}

.footer_year {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 175%;
  color: #ffffff;
  margin-top: 50px;
}
